@model GroupFlightPlanner.Models.GroupDto
@{
    ViewBag.Title = "New";
}

<h2>New Activity</h2>

<form action="/Activity/Create" method="POST" name="myForm" onsubmit="return validateForm()">
    <div class="row">
        <label class="col-md-2 col-form-label">Activity Name:</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="ActivityName" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 col-form-label">Description:</label>
        <div class="col-md-10">
            <textarea class="form-control" type="text" name="Description"></textarea>
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 col-form-label">DateTime:</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="DateTime" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <input type="submit" value="Add Activity" />
            <a href="/Activity/List">Cancel</a>
        </div>
    </div>
</form>
<script>
    function validateForm() {
        let x = document.forms["myForm"]["ActivityName"].value;
        let y = document.forms["myForm"]["Description"].value;
        let z = document.forms["myForm"]["DateTime"].value;

        if (x == "") {
            alert("Activity Name must be filled out");
            return false;
        }
        if (y == "") {
            alert("Description must be filled out");
            return false;
        }
        if (z == "") {
            alert("Date must be filled out");
            return false;
        }
    }
</script>