@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">WELCOME TO GROUP FLIGHT PLANNER BY Sion Lee, Nhi Nguyen, Arnulfo Sanchez</h1>
        <p class="lead">This our Creative Collab Project which enables users to manage diferent entities recorded in the CMS through essential Create, Read, Update, and Delete (CRUD) operations.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Treeplanting Manager</h2>
            <p>A cms for managing Tree planting organizations, events they are having and the location they could happen in. Anyone can use this app to help people find tree planting organizations quickly and register.</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/sionara/PassionProject-CSharp">See this Project &raquo;</a></p>
            <p><strong>By: Sion Lee</strong></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Church's Volunteer Managerment</h2>
            <p>This project let you create volunteers for different churches</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/nhinguyen277/n01593039MyPassionProject">See this Project &raquo;</a></p>
            <p><strong>By: Nhi Nguyen</strong></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Airlines, Flights, Airplanes Management</h2>
            <p>This airline and airplane system enables users to manage Airlines, Airplanes, and FLights recorded in the CMS through Create, Read, Update, and Delete (CRUD) operations. The system presents 1-M relationship between entities, such as Airline-Flights and Airplane-Flights.</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/ufosanchez/AirlineFlightApp">See this Project &raquo;</a></p>
            <p><strong>By: Arnulfo Sanchez</strong></p>
        </section>
    </div>
</main>